services:
  
  postgres:
    image: postgres:16
    container_name: postgres
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: your_database
    ports:
      - "5432:5432"
    networks:
      - app-network
  
  redis:
    image: redis:latest
    container_name: redis
    ports:
      - "6379:6379"
    networks:
      - app-network

  nextjs:
    build:
      context: ./nextjs
    container_name: nextjs
    environment:
      NEXT_PUBLIC_API_URL: http://localhost:5000
    ports:
      - "3000:3000"
    depends_on:
      - postgres
      - redis
    networks:
      - app-network
    volumes:
      - ./nextjs:/app

networks:
  app-network:
    driver: bridge

volumes:
  postgres-data:
    driver: local